.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 25%;
  background-color: cadetblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 0 0 15px 0;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;  
  width: 285px;
}

p {
  margin: 0;
  color: white;
  font-weight: 600;
}

.submit {
  cursor: pointer;
  width: 305px;
  color: white;
  background-color: teal;
  font-weight: 600;
  font-size: 18px;
}

